@keyframes smooth-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-spinner {
	--size: 15px;

  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 1.5px solid var(--brand-600);
  width: var(--size);
  height: var(--size);
  animation: smooth-spin 1s linear infinite;
}
